@model Lease

@{
    ViewData["Title"] = "Create Lease";
}

<h2>Create Lease</h2>

<h5>Lease</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" asp-items="@ViewBag.CarId" class="form-control">
                    <option value="0">Choose car Id</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserUserName" class="control-label"></label>
                <select asp-for="UserUserName" asp-items="@ViewBag.UserId" class="form-control">
                    <option value="0">Choose user name</option>
                </select>
                <span asp-validation-for="UserUserName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create Lease" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List of Leases</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
